ProyectoF\.vs.gitignore
ProyectoF/.vs/ProyectoF/v16/ipch/AutoPCH/f76c7997188a090f/314069494_PROYECTO_GPO12.ipch
ProyectoF/.vs/ProyectoF/v16/Browse.VC.db
*.db-shm
*.db-wal
ProyectoF/.vs/ProyectoF/v16/.suo
*.opendb
*.ipch
ProyectoF/.vs/ProyectoF/v16/.suo
ProyectoF/.vs/ProyectoF/v16/.suo
ProyectoF/.vs/ProyectoF/v16/.suo
ProyectoF/.vs/ProyectoF/v16/.suo
ProyectoL/.vs/ProyectoL/v16/Browse.VC.db
ProyectoL/.vs/ProyectoL/v16/.suo
ProyectoL/.vs/ProyectoL/v16/Browse.VC.db
ProyectoL/.vs/ProyectoL/v16/Browse.VC.db
ProyectoL/.vs/ProyectoL/v16/.suo
ProyectoL/.vs/ProyectoL/v16/Browse.VC.db
ProyectoL/Release/ProyectoL.pdb
ProyectoL/Release/ProyectoL.exe
ProyectoL/ProyectoL/Release/vc142.pdb
ProyectoL/ProyectoL/Release/ProyectoL.tlog/link.read.1.tlog
ProyectoL/ProyectoL/Release/ProyectoL.log
ProyectoL/.vs/ProyectoL/v16/.suo
ProyectoL/.vs/ProyectoL/v16/Browse.VC.db
ProyectoL/ProyectoL/Models/Carro/azul.png
ProyectoL/ProyectoL/Models/Carro/candy_cane_bump.jpg
ProyectoL/ProyectoL/Models/Carro/candy_cane_diffuse.jpg
ProyectoL/ProyectoL/Models/Carro/cemento gris.jpg
ProyectoL/ProyectoL/Models/Carro/cemento_gris.jpg
*.jpg
